.reviews {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--additional-color, additional-color);
  overflow: hidden;
}

.reviews__wrapper {
  display: grid;
  align-items: center;
  gap: 30px;
  position: relative;
  margin: 0 auto;
  padding: 50px 15px;
}

.reviews__title {
  @include font ($primary-font, 20px, 20px, 400);

  margin: 0;
  color: var(--accent-color, $accent-color);
}

.reviews__slider-controls {
  position: absolute;
  display: flex;
  width: 52px;
  min-height: 22px;
  gap: 8px;
  top: 50px;
  right: 15px;
}

.reviews__slider-control-button.swiper-button-prev,
.reviews__slider-control-button.swiper-button-next {
  position: static;
  display: flex;
  align-items: center;
  margin: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  fill: none;
  stroke: var(--accent-color, $accent-color);
  stroke-width: 1.67;

  &::after {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    border-radius: 50%;
    background-color: var(--accent-color, $accent-color);
    stroke: var(--secondary-color, $secondary-color);
  }

  &:active {
    border-radius: 50%;
    background-color: var(--accent-color, $accent-color);
    stroke: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    stroke: var(--disabled-element-color, $disabled-element-color);
  }
}

.reviews__slider.swiper-wrapper {
  width: 100%;
  margin: 0 auto;
}

.reviews__slide.swiper-slide {
  padding: 32px 17px;
  width: 290px;
  min-height: 472px;
  box-sizing: border-box;
  outline: 2px solid var(--accent-color, $accent-color);
  border-radius: 16px;
}

.reviews__slide-reviewer-box {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.reviews__slide-reviewer-box img {
  display: block;
  width: 60px;
  height: 60px;
}

.reviews__slide-author {
  @include font ($primary-font, 14px, 18px, 400);

  align-self: center;
  margin: 0;
  color: var(--accent-color, $accent-color);
}

.reviews__slide-info {
  @include list-style;

  display: grid;
  grid-template-columns: 108px 123px;
  column-gap: 25px;
  row-gap: 8px;
  margin-bottom: 25px;
}

.reviews__slide-info dt {
  @include font ($primary-font, 12px, 12px, 400);

  margin: 0;
  color: var(--accent-color, $accent-color);
  text-transform: uppercase;
  letter-spacing: 0.12px;
}

.reviews__slide-info dd {
  @include font ($primary-font, 12px, 14px, 400);

  margin: 0;
}

.reviews__slide-info dd:first-of-type {
  grid-area: 2/1/3/2;
}

.reviews__slide-lead {
  @include font ($primary-font, 16px, 18px, 400);

  margin: 0;
  margin-bottom: 20px;
  color: var(--accent-color, $accent-color);
}

.reviews__slide-description p {
  @include font ($primary-font, 14px, 20px, 400);

  margin: 0;
}

.reviews__scrollbar.swiper-scrollbar {
  position: static;
  grid-area: 3/1/4/2;
  width: 562px;
  height: 2px;
  background: rgba(49, 109, 194, 0.2);
}

.reviews__scrollbar.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: var(--accent-color, $accent-color);
}

@media (min-width: $mobile-width) and (width <= 767px) {
  .reviews__scrollbar.swiper-scrollbar {
    display: none;
  }
}

@media (min-width: $tablet-width) and (width <= 1439px) {
  .reviews__wrapper {
    grid-template-columns: 562px 2fr;
    grid-template-rows: 50px 417px 22px;
    gap: 40px;
    padding: 50px 45px;
  }

  .reviews__title {
    grid-area: 1/1/2/3;
    margin: 0;
    font-size: 34px;
    line-height: 50px;
  }

  .reviews__slider-controls {
    grid-area: 3/2/4/3;
    position: static;
    display: flex;
    width: 52px;
    min-height: 22px;
    gap: 8px;
    top: 50px;
    right: 45px;
  }

  .reviews__slide.swiper-slide {
    padding: 52px;
    width: 560px;
    min-height: 417px;
    box-sizing: border-box;
  }

  .reviews__slide-inner {
    display: grid;
    grid-template-columns: 162px 229px;
    align-items: center;
    gap: 65px;
    margin-bottom: 30px;
  }

  .reviews__slide-reviewer-box {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 15px;
    margin-bottom: 0;
  }

  .reviews__slide-reviewer-box img {
    display: block;
    width: 90px;
    height: 90px;
  }

  .reviews__slide-author {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__slide-info {
    margin: 0;
    grid-template-columns: 126px 78px;
    row-gap: 11px;
  }

  .reviews__slide-info dd {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews__slide-lead {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .reviews__slide-description p {
    font-size: 16px;
  }
}
