/* COLORS */
$primary-color: #484848;
$secondary-color: #ffffff;
$additional-color: #f0efe9;
$accent-color: #316dc2;
$disabled-element-color: #a9afb7;
$overlay-color: rgba(13, 29, 51, 0.4);
$active-element-color: #275699;
$error-color: #ff5e66;

/* VIEWPORTS */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
